.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button__modal {
  margin-top: 1.5em;
}

.contact_button:hover,
.contact_button:focus,
.contact_button:active {
  background-color: #db8876;
  color: #000000;
}

.contactBackground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgb(239, 237, 237, 0.6);
  opacity: 1;
}

.lightboxBackground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #e5e5e5;
  opacity: 1;
}

.content {
  margin: 4em auto;
  width: 100%;
  max-width: 1024px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #312e2e;
}

.lightboxContent {
  position: relative;
  color: #312e2e;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 669px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

#lightbox {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .lightbox__media {
 
} */

.lightbox__media > img {
  width: 1050px;
  height: 900px;
  object-fit: cover;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-medias {
  margin: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em 6em;
  margin-top: 2em;
}

.personal-informations {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.photographer__name {
  color: #d3573c;
}

.photographer__media {
  object-fit: cover;
  width: 350px;
  height: 200px;
}

.container__like {
  display: flex;
  position: fixed;
  left: 72vw;
  right: 50vw;
  top: 93%;
  background: #db8876;
  height: 89px;
  width: 376px;
  border-radius: 5px;
}

.container__like .price {
  align-self: center;
  margin-left: auto;
  margin-right: 1em;
}

.gallery__Title {
  opacity: 0;
  position: absolute;
}

.formData__validation {
  content: attr(data-error);
  font-size: 1em;
  /* color: #e54858; */
  color: #222222d6;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  transition: 0.3s;
}

.text-input {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 68px;
}
.text-input--error {
  border: 2px solid #e54858;
}

.text-area {
  resize: none;
  height: 170px;
}

.formData > p {
  display: none;
}

#contactMe {
  font-size: 32px;
}
